<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset</title>
    <link rel="stylesheet" href="/css/resetpassword.css">
</head>
<body>
    <div class="forgetpassword-container"></div>
    <script src="/javascript/forgetpassword.js"></script>
</body>
</html>