<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
    <link rel="stylesheet" href="/css/settings.css">
</head>
<body>
    <div class="settings-container"></div>
    <script src="/javascript/settings.js"></script>
</body>
</html>