* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:   linear-gradient(to right, #f0f0f0 1px, transparent 1px),
        linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
        radial-gradient(circle 800px at 0% 200px, #d5c5ff, transparent);
    background-size: 50px 50px, 50px 50px, 100% 100%;
  }
  
  .table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
  }
  @media (max-width: 768px) {
    .table-container {
      width: 90%;
      margin-top: 4em;
    }
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table thead {
    background-color: #34495e;
    color: white;
  }
  
  table thead th {
    padding: 15px;
    text-align: left;
    font-size: 1.1rem;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #ecf0f1;
  }
  
  table tbody td {
    padding: 15px;
    font-size: 1rem;
    color: #2c3e50;
    text-align: left;
  }
  
  table tbody tr:hover {
    background-color: #d1e7e0;
    cursor: pointer;
  }
  
  td:nth-child(1) {
    font-weight: bold;
  }
  .ranking-container {
    max-height:  100%;
    width:100%;
    margin-top: 4rem;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     
  }
  