@import url("https://uilight.netlify.app/main.css");

body {
  background-image:linear-gradient(to right,black ,green);
}

h1 {
  color: #2600ff;
  padding-top: 2rem;
}
 

.options-contianer .button.success {
  background-color: green;
}

.options-contianer .button.error {
  background-color: red;
}

.flex-container  {
 
 
  margin: 2rem auto;
  display: flex;
 align-items: center;
 justify-content: center;
 border: #fafafa dashed ;
 box-shadow: #fafafa;
  margin-top: 4rem;
 
 
  color: #fafafa;
}

/* .section-img-box {
  width: 30vw;
  height: 60vh;
  justify-self: end;
} */

.section-img {
  width: 100%;
  height: 100%;
}

.section-rule-box {
  color: #fafafa;
}

.rules {
  color: #fafafa;
}

.rule-title {
  text-decoration: underline;
}

.rules-list {
  margin: 2rem 0;
}

.rule-point {
  padding: 1rem 0.5rem;
}

.link-btn {
  color: var(--text-color-primary);
  text-decoration: none;
  width: 100%;
}

.play-btn {
  border: none;
  background-color: #334155;
  color: #fafafa;
  padding: 8px 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
}

.play-btn:hover {
  opacity: 0.85;
}

.hide {
  display: none;
}

.quiz {
  background-color: #94a3b8;
  color: #fafafa;
  padding: 2rem;
  width: 45vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #cbd5e1;
}

.quiz-category {
  font-size: 2rem;
  font-weight: 700;
}

.questions-container {
  font-size: 1.5rem;
  word-break: break-all;
}

.options-contianer .button {
  background-color: #475569;
  color: #fafafa;
  border-radius: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 0;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.cta {
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  padding: 10px 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.quit {
  background-color: #cbd5e1;
  font-weight: 600;
}

.next {
  background-color: #334155;
  color: #fafafa;
  font-weight: 600;
}

.circular-btn {
  cursor: pointer;
  border: solid  #334155;
  border-radius:2em ;
  background-color:rgb(151, 198, 239);
}

.qns-count,
.cur-score {
  font-size: 1.25rem;
}
/* Spinner overlay to cover the entire screen */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's above other content */
}

/* Spinner design (a rotating circle) */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
